include ./list-item
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title T-Shirt Stone
        link(rel="stylesheet" href="/style.css")
    body 
    <div class="img-logo">
        <img src="https://www.pngall.com/wp-content/uploads/15/T-Shirt-Design-PNG-Image-File.png">
    </div>
    table
        th Id
        th Size
        th Color
        th Price
        th Product Stock
        th <img class="icon" src="https://cdn-icons-png.flaticon.com/128/9713/9713380.png">
        th <img class="icon" src="https://cdn-icons-png.flaticon.com/128/5309/5309792.png">
        th <img class="icon" src="https://cdn-icons-png.flaticon.com/128/4715/4715128.png">
        - for(let tshirt of tshirts)
          +listItem(tshirt)
    